<!DOCTYPE html>
<html>
<head>
  <title>Innbox</title>
  <%= stylesheet_link_tag    "innbox/application", media: "all" %>
  <%= javascript_include_tag "innbox/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
