<!DOCTYPE html>
<html>
<head>
  <title>Mails</title>
  <%= stylesheet_link_tag    "mails/application", media: "all" %>
  <%= javascript_include_tag "mails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
